In [1]:
import pandas as pd
dt = pd.read_csv("train.csv")
dt.head(20)

C:\Users\B590\AppData\Local\Temp\ipykernel_8324\959869725.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  dt = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,NaN,2,...,Good,605.03,39.182656,26 Years and 10 Months,No,18.816215,99.30622796053305,Low_spent_Medium_value_payments,465.6762241330048,Good
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,NaN,2,...,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,70.10177420755677,High_spent_Medium_value_payments,464.8806778859809,Good
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.90434353388733,Low_spent_Small_value_payments,356.07810855965045,Good
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413702679309,!@9#%8,1043.3159778669492,Good
17,0x161b,CUS_0x2dbc,February,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.86038375993544,High_spent_Small_value_payments,998.8692967863226,Good
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,NaN,1,...,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992319,__10000__,High_spent_Small_value_payments,715.741367403555,Good
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,_,1303.01,39.501648,NaN,No,246.992319,825.2162699393922,Low_spent_Medium_value_payments,426.5134106068658,Good

In [4]:
dt.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

From the row data we observe the following:
- probably each customer has 8 entities, one for each month from January to August.
- some erroneus values, such as age = -500 or SSN= #F%$D@*&8, can be replaced with the correct ones by propagating values forward or backward.
- some missing values could be dealt on the same way.
- columns with categorical values must be encoded.

In [5]:
# check the first hypothesis

(dt.groupby("Customer_ID")["Month"].count() == 8).all()

True

In [7]:
dt["Month"].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

So, the hypothesis is TRUE.
Each customer has 8 entities from January to August.

In [2]:
def overview(df):
    
    print('Number of rows: ', df.shape[0])
    print("\nNumber of features:", df.shape[1])
    print(df.info())
    print("\nMissing values:", df.isnull().sum().values.sum())
    print("\nNumber of duplicated rows: ",df.duplicated().sum())
    
    for col in df.columns:
        print('\nUnique values of',col, 'are : ',len(df[col].unique()))
        
    
    
overview(dt)

Number of rows:  100000

Number of features: 28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB
None

Missing values: 60071

Number of duplicated rows:  0

Unique values of ID are :  100000

Unique values of Customer_ID are :  12500

Unique values of Month are :  8

Unique values of Name are :  10140

Unique values of Age are :  1788

Unique values of SSN are :  12501

Unique values of Occupation are :  16

Unique values of Annual_Income are :  18940

Unique values of Monthly_Inhand_Salary are :  13236

Unique values of Num_Bank_Accounts are :  943

Unique values of Num_Credit_Card are :  1179

Unique values of Interest_Rate are :  1750

Unique values of Num_of_Loan are :  434

Unique values of Type_of_Loan are :  6261

Unique values of Delay_from_due_date are :  73

Unique values of Num_of_Delayed_Payment are :  750

Unique values of Changed_Credit_Limit are :  4384

Unique values of Num_Credit_Inquiries are :  1224

Unique values of Credit_Mix are :  4

Unique values of Outstanding_Debt are :  13178

Unique values of Credit_Utilization_Ratio are :  100000

Unique values of Credit_History_Age are :  405

Unique values of Payment_of_Min_Amount are :  3

Unique values of Total_EMI_per_month are :  14950

Unique values of Amount_invested_monthly are :  91050

Unique values of Payment_Behaviour are :  7

Unique values of Monthly_Balance are :  98793

Unique values of Credit_Score are :  3

START BY CLEANING NUMERICAL COLUMNS

1. "Age" PREPROCESSING

In [3]:
dt["Age"] = pd.to_numeric(dt["Age"], errors='coerce',downcast='signed') #convert dtype to float

In [30]:
dt[dt['Age']>100]['Age'].value_counts().sort_index(ascending=True)

102.0     1
109.0     1
111.0     1
112.0     1
115.0     1
         ..
8674.0    1
8678.0    1
8682.0    1
8697.0    1
8698.0    1
Name: Age, Length: 1614, dtype: int64

In [31]:
dt[dt['Age']<0]['Age'].value_counts().sort_index(ascending=True)

-500.0    886
Name: Age, dtype: int64

There are around 2500 rows with error ages.

In [32]:
dt[dt['Age']==8698]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
71732,0x1ba4e,CUS_0x3909,May,Karen Jacobsk,8698.0,833-13-6967,Entrepreneur,17423.69,1707.974167,6,...,Standard,1158.96,34.351207,31 Years and 6 Months,Yes,0.0,132.02462617693052,Low_spent_Large_value_payments,308.77279048973617,Standard

In [12]:
dt[71729:71735]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
71729,0x1ba4b,CUS_0x3909,February,Karen Jacobsk,33,833-13-6967,Entrepreneur,17423,1707.974167,6,...,Standard,1158.96,36.911191,31 Years and 3 Months,Yes,0.0,119.340613,Low_spent_Small_value_payments,341.456804,Standard
71730,0x1ba4c,CUS_0x3909,March,Karen Jacobsk,33,833-13-6967,Entrepreneur,17423,1707.974167,6,...,Standard,1158.96,35.733227,31 Years and 4 Months,Yes,0.0,26.159439,High_spent_Large_value_payments,384.637977,Standard
71731,0x1ba4d,CUS_0x3909,April,Karen Jacobsk,33,833-13-6967,Entrepreneur,17423,0.000000,6,...,_,1158.96,27.660341,31 Years and 5 Months,NM,0.0,161.180926,Low_spent_Medium_value_payments,289.616491,Standard
71732,0x1ba4e,CUS_0x3909,May,Karen Jacobsk,8698,833-13-6967,Entrepreneur,17423,1707.974167,6,...,Standard,1158.96,34.351207,31 Years and 6 Months,Yes,0.0,132.024626,Low_spent_Large_value_payments,308.772790,Standard
71733,0x1ba4f,CUS_0x3909,June,NaN,33,833-13-6967,Entrepreneur,17423,1707.974167,6,...,Standard,1158.96,34.251338,31 Years and 7 Months,Yes,0.0,155.445817,Low_spent_Medium_value_payments,295.351600,Standard
71734,0x1ba50,CUS_0x3909,July,Karen Jacobsk,33,#F%$D@*&8,Entrepreneur,17423,1707.974167,6,...,_,1158.96,37.656919,31 Years and 8 Months,Yes,0.0,69.285443,Low_spent_Small_value_payments,391.511973,Standard

In [13]:
dt.groupby(["Customer_ID"])['Age'].value_counts().head(20)

Customer_ID  Age
CUS_0x1000   17      4
             18      3
             0       1
CUS_0x1009   26      6
             25      2
CUS_0x100b   18      4
             19      4
CUS_0x1011   44      6
             0       2
CUS_0x1013   44      5
             43      2
             0       1
CUS_0x1015   27      7
             4510    1
CUS_0x1018   15      8
CUS_0x1026   51      4
             52      4
CUS_0x102d   30      3
             31      3
             0       2
Name: Age, dtype: int64

We demand for each 8 rows to keep the age number that appears the most. Of course, some people may have birthday during the 8-month period and their age may change, but it is not important for our task.

In [4]:
dt['Age'] = dt.groupby(dt.index // 8)['Age'].transform(lambda x: x.value_counts().idxmax())

In [190]:
dt.groupby(["Customer_ID"])['Age'].value_counts().head(5)

Customer_ID  Age
CUS_0x1000   17.0    8
CUS_0x1009   26.0    8
CUS_0x100b   18.0    8
CUS_0x1011   44.0    8
CUS_0x1013   44.0    8
Name: Age, dtype: int64

In [217]:
dt[dt['Age']==-500]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
32064,0xd1e2,CUS_0x1c5d,January,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,35.789130,177.0,Yes,79.711652,156.395996,Low_spent_Small_value_payments,204.035538,Standard
32065,0xd1e3,CUS_0x1c5d,February,Christiaan Hetznerb,-500.0,#F%$D@*&8,Musician,19121.21,1501.434167,8,...,Standard,448.39,27.210284,178.0,Yes,79.711652,68.287003,Low_spent_Large_value_payments,272.144348,Standard
32066,0xd1e4,CUS_0x1c5d,March,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,37.785015,179.0,Yes,79.711652,173.093994,Low_spent_Small_value_payments,187.337967,Standard
32067,0xd1e5,CUS_0x1c5d,April,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,26.175230,180.0,Yes,79.711652,66.539001,Low_spent_Small_value_payments,293.892883,Standard
32068,0xd1e6,CUS_0x1c5d,May,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,38.217493,181.0,Yes,79.711652,90.436996,Low_spent_Small_value_payments,269.994415,Standard
32069,0xd1e7,CUS_0x1c5d,June,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,30.949719,182.0,Yes,79.711652,76.162003,Low_spent_Small_value_payments,284.269836,Standard
32070,0xd1e8,CUS_0x1c5d,July,Christiaan Hetznerb,-500.0,#F%$D@*&8,Musician,19121.21,1501.434167,8,...,Standard,448.39,24.753461,183.0,Yes,79.711652,134.143005,Low_spent_Small_value_payments,226.288559,Standard
32071,0xd1e9,CUS_0x1c5d,August,Christiaan Hetznerb,-500.0,084-74-2355,Musician,19121.21,1501.434167,8,...,Standard,448.39,39.248660,184.0,Yes,79.711652,56.523998,Low_spent_Small_value_payments,293.908203,Standard

still there is a customer with age = -500 after the process. we set these values to 19, that is the majurity age after -500 for this person as it was found from the original data.

In [5]:
dt.loc[dt['Age'] == -500, 'Age'] = 19

2. "Monthly_Inhand_Salary" PREPROCESSING

In [35]:
dt.groupby("Customer_ID")["Monthly_Inhand_Salary"].unique() # we need to group by ID to fill in the missing values.

Customer_ID
CUS_0x1000    [2706.1616666666664, nan]
CUS_0x1009                    [4250.39]
CUS_0x100b             [9549.7825, nan]
CUS_0x1011             [5208.8725, nan]
CUS_0x1013     [nan, 7962.415000000001]
                        ...
CUS_0xff3             [1176.39875, nan]
CUS_0xff4               [2415.855, nan]
CUS_0xff6           [9727.326666666666]
CUS_0xffc                   [5218.0975]
CUS_0xffd                [3749.87, nan]
Name: Monthly_Inhand_Salary, Length: 12500, dtype: object

In [6]:
dt["Monthly_Inhand_Salary"] = dt.groupby(
    "Customer_ID")["Monthly_Inhand_Salary"].transform(
        lambda x: x.fillna(method="ffill").fillna(method="bfill"))

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\174680211.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda x: x.fillna(method="ffill").fillna(method="bfill"))

In [7]:
dt.groupby("Customer_ID")["Monthly_Inhand_Salary"].unique()

Customer_ID
CUS_0x1000    [2706.1616666666664]
CUS_0x1009               [4250.39]
CUS_0x100b             [9549.7825]
CUS_0x1011             [5208.8725]
CUS_0x1013     [7962.415000000001]
                      ...
CUS_0xff3             [1176.39875]
CUS_0xff4               [2415.855]
CUS_0xff6      [9727.326666666666]
CUS_0xffc              [5218.0975]
CUS_0xffd                [3749.87]
Name: Monthly_Inhand_Salary, Length: 12500, dtype: object

3. "Annual_Income" PREPROCESSING

In [38]:
dt.groupby("Customer_ID")["Annual_Income"].unique()

# we observe that there exist an extra _ on the values, not a different value

Customer_ID
CUS_0x1000    [30625.94, 30625.94_]
CUS_0x1009    [52312.68, 52312.68_]
CUS_0x100b     [113781.38999999998]
CUS_0x1011               [58918.47]
CUS_0x1013               [98620.98]
                      ...
CUS_0xff3               [17032.785]
CUS_0xff4     [25546.26, 25546.26_]
CUS_0xff6               [117639.92]
CUS_0xffc                [60877.17]
CUS_0xffd     [41398.44, 41398.44_]
Name: Annual_Income, Length: 12500, dtype: object

In [8]:
dt['Annual_Income'] = dt['Annual_Income'].str.rstrip("_") # remove _

In [3]:
# Are there customers with more than one unique value as Annual Income?

a=dt.groupby("Customer_ID")["Annual_Income"].unique().apply(lambda x: len(set(x)))>1

a[a]

Customer_ID
CUS_0x1018    True
CUS_0x1057    True
CUS_0x107e    True
CUS_0x108a    True
CUS_0x10a9    True
              ...
CUS_0xe5b     True
CUS_0xee1     True
CUS_0xf20     True
CUS_0xf55     True
CUS_0xfa4     True
Name: Annual_Income, Length: 965, dtype: bool

In [4]:
# So, there are 965 customers with many Annual Incomes. 
# Check the quality of this entities.

dt[dt['Customer_ID'] == 'CUS_0xf20' ]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
75816,0x1d23e,CUS_0xf20,January,NaN,40,918-15-9352,Musician,58063.48,4759.623333,8,...,Bad,4265.3,25.027666,1 Years and 7 Months,Yes,136.158434,146.29961507979186,High_spent_Medium_value_payments,443.50428435787217,Poor
75817,0x1d23f,CUS_0xf20,February,Anurag Kotokyf,40,918-15-9352,Musician,58063.48,4759.623333,8,...,Bad,4265.3,24.752835,1 Years and 8 Months,Yes,136.158434,NaN,Low_spent_Small_value_payments,163.57006720887597,Poor
75818,0x1d240,CUS_0xf20,March,Anurag Kotokyf,40,918-15-9352,Musician,58063.48,NaN,8,...,Bad,4265.3,35.151032,1 Years and 9 Months,Yes,136.158434,52.01831752349963,High_spent_Large_value_payments,527.7855819141645,Poor
75819,0x1d241,CUS_0xf20,April,Anurag Kotokyf,40,#F%$D@*&8,_______,58063.48,4759.623333,8,...,Bad,4265.3,36.380224,1 Years and 10 Months,Yes,136.158434,145.44707445372646,High_spent_Medium_value_payments,444.35682498393766,Standard
75820,0x1d242,CUS_0xf20,May,Anurag Kotokyf,41,918-15-9352,Musician,58063.48,NaN,8,...,Bad,4265.3,35.255545,1 Years and 11 Months,Yes,136.158434,84.44178443300345,High_spent_Medium_value_payments,505.36211500466067,Standard
75821,0x1d243,CUS_0xf20,June,Anurag Kotokyf,41,918-15-9352,Musician,58063.48,4759.623333,8,...,Bad,4265.3,38.430329,2 Years and 0 Months,Yes,136.158434,335.9833931499657,Low_spent_Large_value_payments,273.8205062876984,Poor
75822,0x1d244,CUS_0xf20,July,NaN,41,918-15-9352,Musician,20189519.0,4759.623333,8,...,Bad,4265.3,37.380902,2 Years and 1 Months,Yes,136.158434,167.45020822888662,Low_spent_Small_value_payments,462.3536912087775,Poor
75823,0x1d245,CUS_0xf20,August,Anurag Kotokyf,41,#F%$D@*&8,Musician,58063.48,NaN,8,...,Bad,4265.3,31.941382,2 Years and 2 Months,Yes,136.158434,256.3118875500337,High_spent_Small_value_payments,343.4920118876304,Poor

!!! Outliers

In [1]:
# for i in a[a].index:
#    print(dt[dt['Customer_ID'] == i ]['Annual_Income'].unique())

['16279.715' '14068988.0']
['14962.35' '1354835.0']
['19870800.0' '11646.19']
['8816.71' '15655612.0']
['7315.235' '6791745.0' '8006694.0']
['23027396.0' '25628.96']
['72618.32' '3239710.0']
['45827.74' '20161625.0']
['21336803.0' '7299.77']
['142743.4' '18002357.0']
['29101.2' '812932.0']
['34188.05' '1234414.0']
['37840.48' '3450079.0']
['66289.36' '22477833.0']
['59986.0' '2226279.0']
['34153.67' '23775314.0']
['106251.21' '20613738.0']
['9857.29' '17881057.0']
['47509.94' '21762134.0']
['20188.02' '9351702.0']
['98509.71' '20099781.0']
['140271.4' '21001046.0']
['18784.88' '12311582.0']
['29969.66' '6113060.0']
['18296.91' '16730157.0']
['105345.4' '19005746.0']
['41821.27' '12083640.0']
['55829.79' '18334118.0']
['39309.84' '19805347.0']
['29741.12' '8651183.0']
['8359.475' '9296515.0']
['40330.08' '6090956.0']
['25701.69' '4647209.0']
['15624.68' '4156013.0']
['10613.34' '20228618.0']
['53671.92' '19467498.0']
['103026.8' '19640302.0']
['82203.45000000001' '2817499.0']
['44034.82' '15048753.0']
['10277.33' '10366883.0']
['36918.96' '18059655.0']
['57367.1' '12141519.0']
['2155310.0' '35971.51']
['64666.48' '18924412.0']
['25173.5' '10001727.0']
['79062.44' '20671702.0']
['75004.04999999999' '3283674.0']
['10322.13' '18706590.0']
['9829.665' '21904611.0']
['12874752.0' '14369.5']
['63648.12' '16744434.0']
['67867.24' '11515290.0']
['19590.31' '4108880.0']
['178969.48' '9704688.0']
['87502.04999999999' '18324322.0']
['9024.455' '822993.0']
['100433.58' '1639269.0']
['18884552.0' '9857.68']
['129605.52' '6999997.0']
['41543.64' '21723268.0']
['13940318.0' '15781.52']
['22308.01' '1724659.0']
['17394.32' '11403141.0']
['90789.21' '5101781.0']
['15678.385' '22641761.0']
['16799876.0' '97907.04']
['115123.16' '17474415.0']
['13931994.0' '32967.94']
['143802.44' '17655551.0']
['33411.91' '12148578.0']
['64721.58' '20286590.0']
['18549.28' '5444147.0']
['16544.455' '2251358.0']
['32012.65' '18204954.0']
['122069.01' '18996379.0']
['51582.54' '2978717.0']
['14953953.0' '35263.09']
['85926.78' '22155905.0']
['120789.44' '17756105.0']
['20524.7' '19968464.0']
['27171.26' '15900012.0']
['48646.5' '8376723.0']
['135200.12' '19433157.0']
['18261.36' '13301420.0']
['83930.72' '19967839.0' '20501034.0']
['18122.59' '21082014.0']
['42904.26' '378844.0']
['21639.39' '21888256.0']
['23266988.0' '86765.12']
['131253.81' '1942262.0']
['3656455.0' '29280.44']
['20186.02' '586359.0']
['29827.36' '13351820.0']
['37909.82' '2526215.0']
['87786.15' '8229642.0']
['28021.64' '2805708.0']
['21017.01' '17353657.0']
['62874.96' '23181767.0']
['70981.16' '12775737.0']
['16558.12' '6573809.0']
['42534.99' '9821410.0']
['31641.76' '20065000.0']
['30536.62' '2547968.0']
['32827.25' '20179076.0']
['37551.78' '23912939.0']
['86255.8' '17217909.0']
['8391053.0' '19621.94']
['32181.66' '1135821.0']
['36115.92' '21710332.0']
['8422.385' '21367283.0']
['17482.49' '13371038.0']
['9594534.0' '146598.88']
['16833.86' '17188755.0']
['16574.41' '5199759.0']
['1888622.0' '105740.97']
['18507.35' '23076807.0']
['93089.52' '15568217.0']
['135941.28' '17166521.0']
['95569.2' '687890.0']
['63354.36' '21740516.0']
['79237.8' '10347315.0']
['6743776.0' '24688.88']
['7077243.0' '136386.2']
['17682.035' '14187917.0']
['126664.28' '20890535.0']
['173569.2' '14924449.0']
['8621042.0' '8814.92']
['23483982.0' '33778.42']
['16735.02' '12953013.0']
['12029909.0' '20760.75']
['33061.79' '6980235.0']
['24192.59' '15145334.0']
['68299.4' '3353125.0' '4155875.0']
['123947.36' '16681206.0']
['19487.775' '18716248.0']
['60082.77' '21073414.0']
['15344.79' '4528840.0']
['7788.985' '2167291.0']
['31530.76' '2597096.0']
['17926.7' '15781959.0']
['34433.04' '7235378.0']
['6397485.0' '125222.6']
['2067041.0' '37024.7']
['14045.15' '6755739.0']
['13315.2' '19083265.0']
['48597.42' '13090136.0']
['93666.33' '13004618.0']
['94587.66' '15219276.0']
['49652.52' '7876839.0']
['20538.77' '20484634.0']
['119643.12' '7888039.0']
['17997617.0' '74349.18']
['16077755.0' '40656.6']
['102665.07' '1303573.0']
['13251.255' '21111055.0']
['11323544.0' '33349.63']
['26526.93' '1605533.0']
['16474.49' '20247560.0']
['15339.75' '325923.0']
['18759.61' '4262933.0']
['25856.84' '21379346.0']
['9602.285' '9077366.0']
['16197.91' '17938268.0']
['60148.65' '19506381.0']
['134327.56' '14215790.0']
['45403.1' '15724911.0']
['15088.35' '17553687.0']
['22530.69' '11750262.0']
['11313151.0' '19355.62']
['18671.92' '11698239.0']
['24418.33' '6878041.0']
['16347580.0' '37516.41']
['78570.28' '17951532.0']
['58366.22' '4494121.0']
['32300.85' '952323.0']
['62428.53' '23150353.0']
['78417.44' '21882475.0']
['89956.16' '18565861.0']
['34269.74' '21511365.0']
['38600.74' '2093173.0']
['19012.18' '5613603.0']
['142544.36' '23942655.0']
['167492.8' '2569167.0']
['90562.83' '16237903.0']
['35793.97' '11712577.0']
['84374.12' '18884777.0']
['14041046.0' '147221.48']
['124692.08' '3449550.0']
['16387868.0' '57377.16' '2101888.0']
['30564.96' '4671933.0']
['98198.07' '19987019.0']
['18465.74' '8800037.0']
['61127.37' '864701.0']
['43787.09' '16760579.0']
['146399.88' '18010485.0']
['35149.1' '21735527.0' '11084744.0']
['17692.26' '20803030.0']
['19215.09' '20368494.0']
['38698.64' '4206569.0']
['106529.8' '6605051.0']
['5794377.0' '146310.68']
['26196.39' '20570363.0']
['17908.01' '18902186.0']
['37002.58' '19015517.0']
['4894060.0' '17980.355']
['18084.08' '18622808.0']
['16465.64' '4355067.0']
['15823.87' '24188807.0']
['93550.95' '21701281.0']
['110721.66' '8092590.0']
['115494.2' '18217875.0']
['72152.8' '8339414.0']
['7169.585' '19454415.0']
['73562.46' '14285494.0']
['77020.76' '22704677.0']
['85421.19' '17012088.0']
['95596.35' '22598167.0']
['16809.56' '8810368.0']
['61169.81999999999' '11766033.0']
['21271789.0' '147819.96']
['36665.05' '580744.0']
['16572.96' '18537669.0']
['17638.12' '10759361.0']
['20354.85' '14089102.0']
['61358.82' '8699472.0']
['75605.82' '7038656.0']
['33882.6' '4116141.0']
['15932.725' '16729446.0']
['7573511.0' '57697.74000000001']
['14027.195' '14399044.0']
['44747.54' '3031039.0']
['20091.86' '16970134.0']
['33735.42' '1200455.0']
['28206.96' '8507441.0']
['94511.76' '12032406.0']
['44184.71' '578236.0']
['72000.7' '2568033.0' '14795718.0']
['67223.06999999999' '14368478.0']
['9470.255' '11874543.0']
['15645.89' '5992743.0']
['52475.7' '9295469.0']
['14927759.0' '17373.39']
['159058.44' '5413938.0']
['178814.16' '12717672.0']
['17538.28' '12400513.0']
['63259.8' '17439741.0']
['139538.32' '10252920.0']
['77034.0' '15308303.0']
['24308.05' '20025646.0']
['54231.16' '2546333.0']
['132262.74' '9389456.0']
['7464.64' '275234.0']
['18942.005' '440403.0']
['29768.44' '20056517.0']
['50818.83' '19337775.0']
['20378.795' '17898652.0']
['37367.34' '2251666.0']
['106546.08' '17085468.0']
['52338.56999999999' '7980216.0' '15975348.0']
['35239.54' '10614827.0']
['9944.365' '19567220.0']
['83340.98' '739493.0']
['16264.7' '15043888.0']
['31902.65' '14571808.0']
['9853.855' '11030668.0']
['30972.54' '21246612.0']
['172891.36' '18940892.0']
['36063.45' '10805206.0']
['173721.16' '1353477.0']
['14129.76' '2592822.0']
['74203.38' '9950314.0']
['19920.93' '11883149.0']
['21678911.0' '19807.545']
['64324.36' '2178083.0']
['11492225.0' '45070.56']
['117502.8' '7460121.0']
['110138.4' '21292636.0']
['14664.91' '10648580.0']
['103968.38999999998' '1034126.0']
['18968.18' '11621521.0']
['49639.2' '14363582.0']
['54430.71' '12920796.0']
['92561.2' '18066506.0']
['42082.91' '10867277.0']
['28572.39' '6515990.0']
['17222.53' '9412058.0']
['40255.56' '11451837.0']
['14132.77' '7674718.0']
['83552.12' '15746977.0']
['102626.97' '16219206.0']
['9000.425' '10300239.0']
['108064.48' '21936192.0' '18384078.0' '18678696.0']
['30564.65' '8216934.0' '21862769.0']
['34956.58' '15294387.0']
['22378557.0' '122322.0']
['8892.36' '18946794.0']
['55115.26' '18321864.0']
['16521766.0' '76257.52']
['19924.14' '19706755.0']
['128363.64' '12399758.0']
['16860.705' '12670738.0']
['7822458.0' '16568.425']
['110529.93' '14969275.0']
['7680.08' '6561397.0']
['62475.66' '19513928.0']
['79494.4' '11190233.0']
['31204.74' '14596798.0']
['74106.94' '17718527.0']
['3950629.0' '44188.5']
['50043.27' '16848804.0']
['10389.575' '7804958.0']
['114588.4' '21366989.0']
['104428.08' '11066005.0']
['49056.09' '18116366.0']
['9548.815' '17650562.0']
['63597.74' '19768015.0']
['76391.48' '13187253.0']
['82240.98' '5358478.0' '10338689.0']
['40193.94' '8128894.0']
['15330.305' '24198062.0']
['9917.285' '11308893.0']
['69601.68' '19134169.0']
['28893.09' '4590973.0']
['4493796.0' '64404.16']
['20903431.0' '80541.51']
['43568.84' '17488375.0']
['14630332.0' '17116.55']
['58063.48' '20189519.0']
['78443.48' '20350298.0']
['15035.19' '7711339.0']

In [9]:
# keep the value of Annual Income that exist in majority for each customer

dt['Annual_Income'] = dt.groupby(dt.index // 8)['Annual_Income'].transform(lambda x: x.value_counts().idxmax())

In [10]:
dt['Annual_Income'] = pd.to_numeric(dt['Annual_Income'], errors='coerce') # convert to float

4. 'Num_Bank_Accounts' PREPROCESSING

In [41]:
dt["Num_Bank_Accounts"].value_counts().sort_index().head(25)

-1        21
 0      4328
 1      4490
 2      4304
 3     11950
 4     12186
 5     12118
 6     13001
 7     12823
 8     12765
 9      5443
 10     5247
 11        9
 18        1
 26        1
 27        1
 28        3
 29        1
 30        1
 31        1
 32        1
 33        2
 34        4
 35        1
 37        3
Name: Num_Bank_Accounts, dtype: int64

In [42]:
dt[dt['Customer_ID'] == 'CUS_0x4004' ]['Num_Bank_Accounts'] #  !! false input !!

264       8
265       8
266       8
267    1414
268       8
269       8
270       8
271       8
Name: Num_Bank_Accounts, dtype: int64

We observe that the vast majority of customers have between 0 and 10 Bank Accounts and that the rest inputs are just errors. So, as before, we keep the value that exist in majority for each customer. Except there are two customers with majority of values equal to -1. We treat them separately. Customer 'CUS_0xa878' : 7 inputs are -1, 1 input is 0 and customer CUS_0x4f2a: 6 inputs are -1, 2 inputs are 0.

In [43]:
dt[dt['Customer_ID'] == 'CUS_0x4f2a' ]['Num_Bank_Accounts']

30328    0
30329    0
30330   -1
30331   -1
30332   -1
30333   -1
30334   -1
30335   -1
Name: Num_Bank_Accounts, dtype: int64

In [11]:
dt.loc[dt['Customer_ID'] == 'CUS_0x4f2a', 'Num_Bank_Accounts'] = 0
dt.loc[dt['Customer_ID'] == 'CUS_0xa878', 'Num_Bank_Accounts'] = 0
dt['Num_Bank_Accounts'] = dt.groupby(dt.index // 8)['Num_Bank_Accounts'].transform(lambda x: x.value_counts().idxmax())

5. 'Num_Credit_Card' PREPROCESSING

In [46]:
dt["Num_Credit_Card"].value_counts().sort_index().head(20) # We proceed as above.

0        13
1      2132
2      2149
3     13277
4     14030
5     18459
6     16559
7     16615
8      4956
9      4643
10     4860
11       36
15        3
16        2
17        1
18        1
20        1
21        1
22        2
24        1
Name: Num_Credit_Card, dtype: int64

In [12]:
dt['Num_Credit_Card'] = dt.groupby(dt.index // 8)['Num_Credit_Card'].transform(lambda x: x.value_counts().idxmax())

In [48]:
dt["Num_Credit_Card"].value_counts().sort_index().head(20)

1      2200
2      2168
3     13592
4     14336
5     18904
6     16936
7     17024
8      5096
9      4736
10     4968
11       40
Name: Num_Credit_Card, dtype: int64

6. 'Interest_Rate' PREPROCESSING

In [20]:
dt["Interest_Rate"].value_counts().sort_index().head(50)

1     2683
2     2465
3     2765
4     2589
5     4979
6     4721
7     4494
8     5012
9     4494
10    4540
11    4428
12    4540
13    2384
14    2229
15    3992
16    3730
17    3813
18    4102
19    3630
20    3929
21    1560
22    1720
23    1683
24    1685
25    1566
26    1489
27    1608
28    1616
29    1662
30    1690
31    1457
32    1742
33    1467
34    1502
59       1
60       1
64       1
67       1
73       1
74       1
75       2
76       2
77       1
81       1
87       1
89       1
91       1
92       1
94       1
95       2
Name: Interest_Rate, dtype: int64

This attribute does not have null values but errors do exist. We work as before.

In [13]:
dt['Interest_Rate'] = dt.groupby(dt.index // 8)['Interest_Rate'].transform(lambda x: x.value_counts().idxmax())

In [50]:
dt["Interest_Rate"].value_counts().sort_index().head(50)

1     2744
2     2520
3     2824
4     2640
5     5096
6     4832
7     4584
8     5104
9     4576
10    4616
11    4512
12    4648
13    2432
14    2272
15    4072
16    3800
17    3888
18    4192
19    3704
20    4008
21    1592
22    1752
23    1720
24    1736
25    1608
26    1528
27    1640
28    1648
29    1696
30    1728
31    1488
32    1776
33    1496
34    1528
Name: Interest_Rate, dtype: int64

7. "Num_of_Loan" PREPROCESSING

In [11]:
dt["Num_of_Loan"].value_counts().sort_index().head(20)

-100      3876
0        10380
0_         550
1        10083
100          1
1001         1
1002         1
1006         1
1008         1
101          1
1014         1
1015         1
1017         2
1019         1
1023         1
1027_        1
103          1
1030         1
1035         1
1036         1
Name: Num_of_Loan, dtype: int64

Here, we need to get rid of "_", change the data type to integer and keep the majority vote for each customer to exclude error inputs. There are no missing values.

In [14]:
dt['Num_of_Loan'] = dt['Num_of_Loan'].str.rstrip("_")
dt['Num_of_Loan'] = pd.to_numeric(dt['Num_of_Loan'], errors='coerce')
dt['Num_of_Loan'] = dt.groupby(dt.index // 8)['Num_of_Loan'].transform(lambda x: x.value_counts().idxmax())

8. "Delay_from_due_date" PREPROCESSING

In [52]:
dt.groupby("Customer_ID")["Delay_from_due_date"].value_counts().sample(20)

Customer_ID  Delay_from_due_date
CUS_0x1d72    20                    1
CUS_0x5269    64                    2
CUS_0x4d9c    27                    1
CUS_0xba13    5                     1
CUS_0x5c0f    14                    2
CUS_0x2d22    15                    7
CUS_0xbc51    10                    1
CUS_0x649e    6                     1
CUS_0x8391    10                    1
CUS_0xba60    7                     6
CUS_0x6728    32                    1
CUS_0x575e    18                    1
CUS_0x830e    8                     1
CUS_0xa974    18                    2
CUS_0xb904    20                    1
CUS_0x9235   -3                     1
CUS_0x1563    11                    1
CUS_0x1769    10                    1
CUS_0x8945    32                    6
CUS_0x97d7    32                    2
Name: Delay_from_due_date, dtype: int64

In [60]:
print("The maximum days of delay are:",dt["Delay_from_due_date"].max(),"while the minimum ones are:",
      dt["Delay_from_due_date"].min())

The maximum days of delay are: 67 while the minimum ones are: -5

This attribute does not have missing values and has the right dtype,so does not need any change.

9. "Num_of_Delayed_Payment" PREPROCESSING

This attribute has some missing values and and does not have the right dtype.

In [54]:
dt["Num_of_Delayed_Payment"].value_counts().sort_index().head(20)

-1       308
-1_        8
-2       223
-2_       11
-3        91
-3_        3
0       1568
0_        41
1       1586
10      5153
1004       1
1014       2
1015       1
1018       1
102        1
1034       1
1045       1
1049       1
106        1
1060       1
Name: Num_of_Delayed_Payment, dtype: int64

In [15]:
dt['Num_of_Delayed_Payment'] = dt['Num_of_Delayed_Payment'].str.rstrip("_")
dt['Num_of_Delayed_Payment'] = pd.to_numeric(dt['Num_of_Delayed_Payment'], errors='coerce')
dt['Num_of_Delayed_Payment'] = dt.groupby(dt.index // 8)['Num_of_Delayed_Payment'].transform(lambda x: x.value_counts().idxmax())

In [59]:
dt["Num_of_Delayed_Payment"].value_counts().sort_index().head(30)

-2.0       40
-1.0       48
 0.0     2072
 1.0     2024
 2.0     2128
 3.0     1992
 4.0     1920
 5.0     2120
 6.0     2144
 7.0     1968
 8.0     5872
 9.0     5672
 10.0    6216
 11.0    5400
 12.0    5672
 13.0    3792
 14.0    3944
 15.0    6032
 16.0    6112
 17.0    5816
 18.0    5768
 19.0    6400
 20.0    6192
 21.0    2192
 22.0    2072
 23.0    2096
 24.0    2000
 25.0    2224
 26.0      16
 27.0      32
Name: Num_of_Delayed_Payment, dtype: int64

10. "Changed_Credit_Limit" PREPROCESSING

In [61]:
dt["Changed_Credit_Limit"].head(15)

0     11.27
1     11.27
2         _
3      6.27
4     11.27
5      9.27
6     11.27
7     11.27
8      5.42
9      7.42
10     5.42
11     5.42
12     6.42
13     5.42
14     5.42
Name: Changed_Credit_Limit, dtype: object

In [64]:
dt[dt["Customer_ID"]=="CUS_0x4157"]["Changed_Credit_Limit"]

64     8.24
65        _
66        _
67     8.24
68    11.24
69     8.24
70     8.24
71     8.24
Name: Changed_Credit_Limit, dtype: object

We suppose that "_" means that credit limit didn't change and we also change the dtype.

In [16]:
import numpy as np

dt.loc[(dt["Changed_Credit_Limit"] == "_"), "Changed_Credit_Limit"] = np.nan

dt["Changed_Credit_Limit"] = dt.groupby( "Customer_ID")["Changed_Credit_Limit"].transform(
        lambda x: x.fillna(method="ffill").fillna(method="bfill"))

dt["Changed_Credit_Limit"] = pd.to_numeric(dt["Changed_Credit_Limit"],downcast="float").round(3)

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\1432636874.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda x: x.fillna(method="ffill").fillna(method="bfill"))

In [67]:
dt["Changed_Credit_Limit"].head(5)

0    11.27
1    11.27
2    11.27
3     6.27
4    11.27
Name: Changed_Credit_Limit, dtype: float32

11. "Num_Credit_Inquiries" PREPROCESSING

In [68]:
dt["Num_Credit_Inquiries"].value_counts().sort_index().head(20)

0.0      6972
1.0      7588
2.0      8028
3.0      8890
4.0     11271
5.0      5693
6.0      8111
7.0      8058
8.0      7866
9.0      5283
10.0     4936
11.0     5051
12.0     4571
13.0     1480
14.0     1039
15.0      808
16.0      456
17.0      284
26.0        1
29.0        1
Name: Num_Credit_Inquiries, dtype: int64

In [69]:
dt.groupby("Customer_ID")["Num_Credit_Inquiries"].unique()

Customer_ID
CUS_0x1000          [10.0, 11.0]
CUS_0x1009            [2.0, 4.0]
CUS_0x100b    [1.0, 2271.0, 4.0]
CUS_0x1011         [7.0, 1965.0]
CUS_0x1013                 [3.0]
                     ...
CUS_0xff3             [3.0, 5.0]
CUS_0xff4             [5.0, nan]
CUS_0xff6             [nan, 2.0]
CUS_0xffc            [8.0, 13.0]
CUS_0xffd     [1801.0, nan, 7.0]
Name: Num_Credit_Inquiries, Length: 12500, dtype: object

From above it is obvious that there are null values and also values greater than 17 are false.

In [17]:
dt.loc[(dt["Num_Credit_Inquiries"] > 17), "Num_Credit_Inquiries"] = pd.NA # set Nan all values above 17.

dt["Num_Credit_Inquiries"] = dt.groupby("Customer_ID")["Num_Credit_Inquiries"].transform(
    lambda x: x.fillna(method="ffill").fillna(method="bfill"))

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\2779503983.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda x: x.fillna(method="ffill").fillna(method="bfill"))

12. 'Outstanding_Debt' PREPROCESSING

In [73]:
dt["Outstanding_Debt"].value_counts().sort_index().head(20)

0.23       8
0.34       8
0.54       8
0.56       8
0.77       8
0.95      16
1.2        8
1.23       8
1.3        8
1.33       8
1.37       8
1.42       8
1.48       8
10.29     16
10.52      8
10.54      8
10.55      7
10.55_     1
10.77      8
10.89      8
Name: Outstanding_Debt, dtype: int64

In [74]:
dt.groupby("Customer_ID")["Outstanding_Debt"].unique()

Customer_ID
CUS_0x1000            [1562.91]
CUS_0x1009    [202.68, 202.68_]
CUS_0x100b             [1030.2]
CUS_0x1011             [473.14]
CUS_0x1013            [1233.51]
                    ...
CUS_0xff3             [1229.08]
CUS_0xff4              [758.44]
CUS_0xff6               [338.3]
CUS_0xffc             [1300.13]
CUS_0xffd             [1701.88]
Name: Outstanding_Debt, Length: 12500, dtype: object

In [18]:
dt['Outstanding_Debt'] = dt['Outstanding_Debt'].str.rstrip("_") # drop ' _ '
dt['Outstanding_Debt'] = pd.to_numeric(dt['Outstanding_Debt'], errors='coerce') # convert to float

13. 'Credit_Utilization_Ratio' PREPROCESSING

In [76]:
dt["Credit_Utilization_Ratio"].value_counts().sort_index().head(20)

20.000000    1
20.100770    1
20.172942    1
20.244130    1
20.257073    1
20.719745    1
20.830946    1
20.832487    1
20.880082    1
20.881250    1
20.985606    1
20.985919    1
20.992914    1
21.027665    1
21.028690    1
21.056721    1
21.098676    1
21.207252    1
21.228503    1
21.264254    1
Name: Credit_Utilization_Ratio, dtype: int64

This attribute does not need preprocessing as it has the right dtype and does not have missing values

14. 'Credit_History_Age' PREPROCESSING

In [79]:
dt['Credit_History_Age'].value_counts(dropna=False).head(5)

NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
Name: Credit_History_Age, dtype: int64

In [19]:
# first, convert years and months to months.

import re

def age_to_months(age):
    if pd.notna(age): 
        match = re.match(r"(\d+) Years\s*and\s*(\d+) Months", age)  
        if match:
            years = int(match.group(1))
            months = int(match.group(2))
            final_months = years * 12 + months
            return final_months
    return np.nan       # Return NaN if there is no match or if it is NaN

In [20]:
dt['Credit_History_Age'] = dt['Credit_History_Age'].transform(age_to_months)

In [127]:
dt.groupby("Customer_ID")['Credit_History_Age'].value_counts(dropna=False).sort_index().head(20)

Customer_ID  Credit_History_Age
CUS_0x1000   122.0                 1
             123.0                 1
             124.0                 1
             125.0                 1
             126.0                 1
             127.0                 1
             128.0                 1
             129.0                 1
CUS_0x1009   365.0                 1
             366.0                 1
             367.0                 1
             369.0                 1
             370.0                 1
             371.0                 1
             372.0                 1
             NaN                   1
CUS_0x100b   183.0                 1
             185.0                 1
             186.0                 1
             187.0                 1
Name: Credit_History_Age, dtype: int64

In [21]:
# Then, fill in nan values. The nun value shown above should be set to 373.0

def consecutive_8_numbers(s):
    
    for i in range(0, len(s), 8):
    # Define the start number for the current block of 8 rows
        start_num = s[i] if not pd.isnull(s[i]) else s[i+1]-1 if not pd.isnull(s[i+1]-1) else s[i+2]-2 if not pd.isnull(s[i+2]-2) else s[i+3]-3 if not pd.isnull(s[i+3]-3) else s[i+4]-4 if not pd.isnull(s[i+4]-4) else s[i+5]-5 if not pd.isnull(s[i+5]-5) else s[i+6]-6 if not pd.isnull(s[i+6]-6) else s[i+7]-7 if not pd.isnull(s[i+7]-7) else 0 
       
        block = s[i:i+8]
        start_num = int(start_num)
    # Generate consecutive numbers starting from `start_num`
        consecutive_values = pd.Series(range(start_num, start_num + 8), index=block.index)
    
    # Fill NaN values in the block with the corresponding consecutive values
        s[i:i+8] = block.combine_first(consecutive_values)
    return (s)

dt['Credit_History_Age'] = consecutive_8_numbers(dt['Credit_History_Age'])

In [23]:
dt.groupby("Customer_ID")['Credit_History_Age'].value_counts(dropna=False).sort_index().head(20)

Customer_ID  Credit_History_Age
CUS_0x1000   122.0                 1
             123.0                 1
             124.0                 1
             125.0                 1
             126.0                 1
             127.0                 1
             128.0                 1
             129.0                 1
CUS_0x1009   365.0                 1
             366.0                 1
             367.0                 1
             368.0                 1
             369.0                 1
             370.0                 1
             371.0                 1
             372.0                 1
CUS_0x100b   183.0                 1
             184.0                 1
             185.0                 1
             186.0                 1
Name: count, dtype: int64

15.'Total_EMI_per_month' PREPROCESSING

EMI, or Equated Monthly Installment, is the fixed monthly payment made by a borrower to repay a loan over a specified term. EMIs are commonly used in loans such as mortgages, car loans, and personal loans, allowing borrowers to repay the loan in equal installments, covering both the interest and principal portions. The EMI amount stays the same each month.

In [132]:
filtered_df = dt.groupby(
    "Customer_ID")["Total_EMI_per_month"].nunique().loc[lambda x: x > 1].index

dt[dt["Customer_ID"].isin(filtered_df)].groupby(
    "Customer_ID")["Total_EMI_per_month"].value_counts().head(20)

Customer_ID  Total_EMI_per_month
CUS_0x1013   228.018084             7
             48538.000000           1
CUS_0x103e   55.004408              7
             27369.000000           1
CUS_0x105b   0.000000               4
             285.423800             3
             79286.000000           1
CUS_0x1069   139.885013             7
             10251.000000           1
CUS_0x106f   143.483732             6
             1357.000000            1
             60413.000000           1
CUS_0x1075   43.385046              4
             196.027162             4
CUS_0x107e   261.842409             7
             78446.000000           1
CUS_0x108a   454.419552             6
             200.370042             2
CUS_0x1098   33.238356              7
             49236.000000           1
Name: Total_EMI_per_month, dtype: int64

In [24]:
dt['Total_EMI_per_month'] = dt.groupby(dt.index // 8)['Total_EMI_per_month'].transform(lambda x: x.value_counts().idxmax())

16. 'Amount_invested_monthly' PREPROCESSING

In [135]:
dt['Amount_invested_monthly'].value_counts(dropna=False).sort_values().tail(20)

43.72461709437765        1
213.97800979403817       1
78.49772657092517        1
74.36660309585342        1
34.66290609052614        1
404.79848748401673       1
401.1964806036356        1
140.58140274528395       1
60.97133255718485        1
54.18595028760385        1
24.02847744864441        1
251.67258219721603       1
173.2755025599617        1
215.48638555294247       1
125.95659173463726       1
70.86997036607373        1
180.7330951944497        1
0.0                    169
__10000__             4305
NaN                   4479
Name: Amount_invested_monthly, dtype: int64

In [25]:
dt['Amount_invested_monthly'] = dt['Amount_invested_monthly'].str.strip("_") # drop _ from 10000
dt['Amount_invested_monthly'] = pd.to_numeric(dt['Amount_invested_monthly'],downcast="float").round(3)#convert to float
dt['Amount_invested_monthly'] = dt.groupby("Customer_ID")["Amount_invested_monthly"].transform(lambda x: x.fillna(method="ffill").fillna(method="bfill")) # fill in nan values

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\3721343303.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dt['Amount_invested_monthly'] = dt.groupby("Customer_ID")["Amount_invested_monthly"].transform(lambda x: x.fillna(method="ffill").fillna(method="bfill")) # fill in nan values

17. 'Monthly_Balance' PREPROCESSING

In [145]:
dt['Monthly_Balance'].value_counts(dropna=False)

NaN                                 1200
__-333333333333333333333333333__       9
312.49408867943663                     1
347.413889978152                       1
254.9709216273975                      1
                                    ...
366.2890379762706                      1
151.1882696261166                      1
306.75027851710234                     1
278.8720257394474                      1
393.6736955618808                      1
Name: Monthly_Balance, Length: 98793, dtype: int64

In [26]:
dt['Monthly_Balance'] = dt['Monthly_Balance'].apply(
    lambda x: x.replace('_', '').replace('-', '') if isinstance(x, str) else x) # drop - and _
dt['Monthly_Balance'] [dt['Monthly_Balance']=='333333333333333333333333333']= np.nan # convert the error to nan
dt['Monthly_Balance'] = pd.to_numeric(dt['Monthly_Balance'],downcast="float") # convert to float
dt['Monthly_Balance'] = dt.groupby("Customer_ID")["Monthly_Balance"].transform(lambda x: x.fillna(method="ffill").fillna(method="bfill")) # fill in nan values

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\2614468509.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dt['Monthly_Balance'] [dt['Monthly_Balance']=='333333333333333333333333333']= np.nan # convert the error to nan
C:\Users\B590\AppData\Local\Temp\ipykernel_4932\2614468509.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['Monthly_Balance'] [dt['Monthly_Balance']=='333333333333333333333333333']= np.nan # convert the error to nan
C:\Users\B590\AppData\Local\Temp\ipykernel_4932\2614468509.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dt['Monthly_Balance'] = dt.groupby("Customer_ID")["Monthly_Balance"].transform(lambda x: x.fillna(method="ffill").fillna(method="bfill")) # fill in nan values

In [147]:
dt['Monthly_Balance'].value_counts(dropna=False)

297.544250    5
346.641663    5
983.341858    4
270.099976    4
316.383881    4
             ..
375.772888    1
405.774841    1
468.799133    1
13.863371     1
393.673706    1
Name: Monthly_Balance, Length: 98493, dtype: int64

CLEANING CATEGORICAL COLUMNS

1. 'Name' PREPROCESSING

In [152]:
dt[dt['Customer_ID'] == 'CUS_0xf20' ]['Name']

75816               NaN
75817    Anurag Kotokyf
75818    Anurag Kotokyf
75819    Anurag Kotokyf
75820    Anurag Kotokyf
75821    Anurag Kotokyf
75822               NaN
75823    Anurag Kotokyf
Name: Name, dtype: object

In [27]:
# for each 8 lines we want the same name.

dt['Name'] = dt.groupby(dt.index // 8)['Name'].transform(lambda x: x.value_counts().idxmax())

In [154]:
dt[dt['Customer_ID'] == 'CUS_0xf20' ]['Name']

75816    Anurag Kotokyf
75817    Anurag Kotokyf
75818    Anurag Kotokyf
75819    Anurag Kotokyf
75820    Anurag Kotokyf
75821    Anurag Kotokyf
75822    Anurag Kotokyf
75823    Anurag Kotokyf
Name: Name, dtype: object

2. 'Occupation' PREPROCESSING

In [158]:
dt['Occupation'].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

In [28]:
dt['Occupation'] [dt['Occupation']=='_______']= np.nan
dt['Occupation'] = dt.groupby(dt.index // 8)['Occupation'].transform(lambda x: x.value_counts().idxmax())

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\297052520.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dt['Occupation'] [dt['Occupation']=='_______']= np.nan
C:\Users\B590\AppData\Local\Temp\ipykernel_4932\297052520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['Occupation'] [dt['Occupation']=='_______']= np.nan

In [164]:
dt['Occupation'].value_counts()

Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Developer        6720
Media_Manager    6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: Occupation, dtype: int64

3. 'Type_of_Loan' PREPROCESSING

In [165]:
dt.groupby("Customer_ID")["Type_of_Loan"].value_counts().value_counts()

8    11074
Name: Type_of_Loan, dtype: int64

In [170]:
dt[dt["Type_of_Loan"].isna()]["Customer_ID"].count()

11408

so for all non null values, each customer has the same values in this attribute

In [173]:
dt[dt["Num_of_Loan"] == 0]["Customer_ID"].count()

11408

so, all the customers with no loans has a nan value in the type of loan attribute

In [29]:
dt.loc[dt["Num_of_Loan"] == 0, "Type_of_Loan"] = "No Loan" # replace nan values with "No Loan"

In [175]:
# Check each block of 8 rows
all_blocks_same = True  
for i in range(0, len(dt["Type_of_Loan"]), 8):
    block = dt["Type_of_Loan"][i:i+8]  # Get the block of 8 rows
    if not block.eq(block.iloc[0]).all():  # Check if all values are the same
        all_blocks_same = False
        print(f"Block starting at index {i} does not have the same values.")
        break

if all_blocks_same:
    print("Every block of 8 rows has the same value.")

Every block of 8 rows has the same value.

In [176]:
dt["Type_of_Loan"]

0        Auto Loan, Credit-Builder Loan, Personal Loan,...
1        Auto Loan, Credit-Builder Loan, Personal Loan,...
2        Auto Loan, Credit-Builder Loan, Personal Loan,...
3        Auto Loan, Credit-Builder Loan, Personal Loan,...
4        Auto Loan, Credit-Builder Loan, Personal Loan,...
                               ...
99995                          Auto Loan, and Student Loan
99996                          Auto Loan, and Student Loan
99997                          Auto Loan, and Student Loan
99998                          Auto Loan, and Student Loan
99999                          Auto Loan, and Student Loan
Name: Type_of_Loan, Length: 100000, dtype: object

In [30]:
dt["Type_of_Loan"] = dt["Type_of_Loan"].str.replace(" and", "", regex=False) # drop "and"
dt["Type_of_Loan"] = dt["Type_of_Loan"].str.split(", ") # split

In [178]:
dt["Type_of_Loan"].explode().value_counts()

Payday Loan                40568
Credit-Builder Loan        40440
Not Specified              39616
Home Equity Loan           39104
Student Loan               38968
Mortgage Loan              38936
Personal Loan              38888
Debt Consolidation Loan    38776
Auto Loan                  37992
No Loan                    11408
Name: Type_of_Loan, dtype: int64

4. 'Credit_Mix' PREPROCESSING

In [179]:
dt['Credit_Mix'].value_counts()

Standard    36479
Good        24337
_           20195
Bad         18989
Name: Credit_Mix, dtype: int64

In [31]:
dt.loc[dt["Credit_Mix"] == "_", "Credit_Mix"] = pd.NA # replace _ with nan
dt['Credit_Mix'] = dt.groupby(dt.index // 8)['Credit_Mix'].transform(lambda x: x.value_counts().idxmax())
# keep the majority value for each client.

In [181]:
dt['Credit_Mix'].value_counts()

Standard    45848
Good        30384
Bad         23768
Name: Credit_Mix, dtype: int64

5. 'Payment_of_Min_Amount' PREPROCESSING

In [182]:
dt['Payment_of_Min_Amount'].value_counts()

Yes    52326
No     35667
NM     12007
Name: Payment_of_Min_Amount, dtype: int64

6. 'Payment_Behaviour' PREPROCESSING

In [183]:
dt['Payment_Behaviour'].value_counts()

Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: Payment_Behaviour, dtype: int64

In [32]:
dt.loc[(dt["Payment_Behaviour"] == "!@9#%8"), "Payment_Behaviour"] = np.nan # convert the strange input to nan 

dt["Payment_Behaviour"] = dt.groupby(                 # fill in nan values with the above or below ones in each client.
    "Customer_ID")["Payment_Behaviour"].transform(
        lambda x: x.fillna(method="ffill").fillna(method="bfill"))

C:\Users\B590\AppData\Local\Temp\ipykernel_4932\3012619834.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda x: x.fillna(method="ffill").fillna(method="bfill"))

In [185]:
dt['Payment_Behaviour'].value_counts()

Low_spent_Small_value_payments      27588
High_spent_Medium_value_payments    19015
Low_spent_Medium_value_payments     15012
High_spent_Large_value_payments     14839
High_spent_Small_value_payments     12244
Low_spent_Large_value_payments      11302
Name: Payment_Behaviour, dtype: int64

In [33]:
# create a new csv file with the clean data.

dt.to_csv('train_clean.csv', index=False)

In [34]:
dt.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,33.282000,50505.123449,4198.771619,5.369840,5.534720,14.53208,3.532880,21.068780,13.309920,10.389303,5.772820,1426.220376,32.285173,221.206880,105.543551,637.633423,403.067291
std,10.766568,38299.422093,3187.494355,2.592513,2.066736,8.74133,2.446356,14.860104,6.199614,6.789783,3.861137,1155.129026,5.116875,99.681112,125.810053,2043.334106,214.796265
min,14.000000,7005.930000,303.645417,0.000000,1.000000,1.00000,0.000000,-5.000000,-2.000000,-6.490000,0.000000,0.230000,20.000000,1.000000,0.000000,0.000000,0.007760
25%,24.000000,19342.972500,1626.761667,3.000000,4.000000,7.00000,2.000000,10.000000,9.000000,5.320000,3.000000,566.072500,28.052567,144.000000,29.049047,74.593752,270.034729
50%,33.000000,36999.705000,3096.378333,5.000000,5.000000,13.00000,3.000000,18.000000,14.000000,9.400000,5.000000,1166.155000,32.305784,219.000000,66.033915,135.952499,337.088852
75%,42.000000,71683.470000,5961.745000,7.000000,7.000000,20.00000,5.000000,28.000000,18.000000,14.860000,8.000000,1945.962500,36.496663,302.000000,145.582332,266.178238,471.553307
max,56.000000,179987.280000,15204.633333,10.000000,11.000000,34.00000,9.000000,67.000000,28.000000,36.970001,17.000000,4998.070000,50.000000,404.000000,1779.103254,10000.000000,1602.040527

In [35]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  int64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float32
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float32
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float32
 27  Credit_Score              100000 non-null  object
dtypes: float32(3), float64(9), int64(5), object(11)
memory usage: 20.2+ MB